Automate Event Creation in Google Calendar from Google Sheets.json
{
  "name": "Automate Event Creation in Google Calendar from Google Sheets",
  "nodes": [
    {
      "parameters": {
        "content": "# Automate Event Creation in Google Calendar from Google Sheets\n",
        "height": 792,
        "width": 1616,
        "color": 6
      },
      "id": "339626c2-4e29-4f79-a865-6e9e9cf21add",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Get the last item from the input data\nconst lastEvent = items[items.length - 1].json;\n\n// Extract relevant fields\nconst eventName = lastEvent[\"Event Name\"];\nconst eventDescription = lastEvent[\"Event Description\"];\nconst currentYear = new Date().getFullYear(); \n// Get the current year\nconst location = lastEvent[\"Location\"];\n\n// Ensure the date includes the year\nconst formatDateWithYear = (dateStr) => {\n    return dateStr.includes(currentYear) ? dateStr : `${dateStr} ${currentYear}`;\n};\n\n// Format the start date\nconst startDateString = formatDateWithYear(lastEvent[\"Event Start Date\"]); // Example: \"11 March 2024\"\n\n// Convert to JavaScript Date object\nconst startDate = new Date(startDateString);\n\n// Convert to ISO format (YYYY-MM-DD)\nconst formattedStartDate = startDate.toISOString().split(\"T\")[0]; // Extract only the date\n\n// Return the last event's formatted data\nreturn [{\n    json: {\n        eventName,\n        eventDescription,\n        startDate: formattedStartDate,\n      location: location,\n    }\n}];\n"
      },
      "id": "32c10f93-7e83-4e05-9cff-e26464902dae",
      "name": "Event Date Formatter",
      "type": "n8n-nodes-base.code",
      "position": [
        560,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1dKjIGmcnQgSEMVuWAAFVDaj_MCBFKBX8hCOk5OH2dK4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dKjIGmcnQgSEMVuWAAFVDaj_MCBFKBX8hCOk5OH2dK4/edit?usp=drivesdk",
          "cachedResultName": "N8n Event List"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dKjIGmcnQgSEMVuWAAFVDaj_MCBFKBX8hCOk5OH2dK4/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "event": "rowAdded",
        "options": {
          "valueRender": "FORMULA"
        }
      },
      "id": "430f10db-2b7e-4940-90d2-f9b2c23d81bd",
      "name": "New Event Entry Listener",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        128,
        112
      ],
      "typeVersion": 1,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "IdxZH0aq2bVxd1Uu",
          "name": "Google Sheets Trigger account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "valeriayashan@gmail.com",
          "mode": "id"
        },
        "start": "={{ $json.startDate }}",
        "end": "={{ $json.startDate }}",
        "additionalFields": {
          "allday": "yes",
          "color": "3",
          "description": "={{ $json.eventDescription }}",
          "guestsCanInviteOthers": true,
          "location": "={{ $json.location }}",
          "showMeAs": "transparent",
          "summary": "={{ $json.eventName }}"
        }
      },
      "id": "2eb12e83-0fe5-471a-8b69-dbb555d59bc1",
      "name": "Google Calendar Event Creator",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        944,
        112
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GQPBJIzP7BEVbMOZ",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Event Date Formatter": {
      "main": [
        [
          {
            "node": "Google Calendar Event Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Event Entry Listener": {
      "main": [
        [
          {
            "node": "Event Date Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c6a4c35-3970-405e-ac3c-65124640c12f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72d43304f27a5fc27696d9e2f30de2c83c79d7ac2f3ac3041823785527b7b505"
  },
  "id": "MTPH2zLudznIbo9b",
  "tags": []
}